<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Favorite Movies</title>
    <link href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css">
    
</head>
<body>
    <main>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand">
                <img src="/static/img/Logo.png" alt="" width="200" height="40">
              </a>
            </div>
          </nav>
          <section>
            <form>
                <div class="container mt-5">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="mb-3" style="margin: 20px 0 0 40px">
                            <label for="exampleInputFilme" class="form-label">Filme</label><br>
                            <input type="text" class="form-control" id="exampleInputFilme" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="mb-3" style="margin: 20px 0 40px 40px">
                            <label for="exampleInputImagem" class="form-label">Imagem</label><br>
                            <input type="text" class="form-control" id="exampleInputImagem" placeholder="URL to image">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="mb-3" style="margin: 20px 0 0 40px">
                            <label for="exampleInputgenero" class="form-label">Gênero</label><br>
                            <input type="text" class="form-control" id="exampleInputgenero" placeholder="Ação | Aventura | Terror">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="mb-3" style="margin: 20px 0 40px 40px">
                            <label for="exampleInputNota" class="form-label">Nota</label><br>
                            <input type="text" class="form-control" id="exampleInputNota" placeholder="0  - 10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="form-check col-6">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Assistido
                            </label>
                        </div>
                        <div class="form-check col-6">
                            <button type="submit">Enviar</button>
                        </div>
                        
                    </div>
                </div>
                
              </form>
          </section>

          <section  class="container" style="margin-bottom: 20px; padding-bottom:10px">
            <div class="row" id="lista">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" style="display:flex; justify-content:spaceAround;">
                      <div class="card">
                        <img src="https://media.fstatic.com/QUAQAfm_5r5BplLBp5o3g0PyiZE=/290x478/smart/media/movies/covers/2019/01/DxDbcwbVAAA6xeu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="card-title" style="font-size:20px">Capitã Marvel</span>
                        </div>
                        <div class="card-body1">
                            <div>
                                <span>Gênero: Ação</span><br>
                                <span>Status: Assistido</span>
                            </div>
                            <div class="nota">
                                <span style="font-size:2rem">10.0</span><br>
                            </div>
                        </div>
                    </div>
                    <!-- Teste -->
                   
                </div>
            </div>
    
          </section>
    </main>
    <footer>
        Developed by : Luana Melissa  <a href="https://www.instagram.com/luana.melissa/"><i class="bi bi-instagram "></i></a> <a href="https://www.linkedin.com/in/luana-melissa-473208207/"><i class="bi bi-linkedin"></i></a> <a href="https://github.com/Lua-programmer"><i class="bi bi-github"></i></a> <a href="#"><i class="bi bi-file-code"></i></a>
    </footer>
    <script src="/static/index.js"></script>
</body>
</html>